<div class="emp-details">
  <div class="container">
    <div class="row">
      <i
        class="fa fa-2x fa-arrow-left pl-3 py-4"
        style="color: black; cursor: pointer"
        (click)="back()"
      ></i>
      <div class="col heading">Edit User</div>
      <div class="col d-flex justify-content-end align-items-start mt-4">
        <button
          id="updateUser"
          name="updateUser"
          (click)="updateUser()"
          class="btn btn-dark"
        >
          <i class="fa fa-save"></i> &nbsp; SAVE
        </button>
      </div>
    </div>
  </div>

  <div [formGroup]="userForm" class="emp-form-group">
    <div class="container">
      <div class="row">
        <div class="col-4 form-title"><b>Basic Information</b></div>
        <div class="col-8">
          <div class="row">
            <div class="col">
              <mat-form-field appearance="legacy" style="width: 220px">
                <input
                  id="firstName"
                  name="firstName"
                  matInput
                  placeholder="First Name"
                  formControlName="firstName"
                  (keypress)="allowOnlyChar($event)"
                  required
                />
                <mat-error> First Name Is Required.</mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="legacy">
                <input
                  id="lastName"
                  name="lastName"
                  matInput
                  placeholder="Last Name"
                  formControlName="lastName"
                  (keypress)="allowOnlyChar($event)"
                  required
                />
                <mat-error> Last Name Is Required.</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <mat-form-field appearance="legacy" style="width: 220px">
                <input
                  id="email"
                  name="email"
                  matInput
                  placeholder="Email"
                  formControlName="email"
                  maxlength="50"
                  pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
                  required
                />
                <mat-error> Please Enter The Valid Email.</mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="legacy">
                <input
                  id="phNo"
                  name="phNo"
                  matInput
                  placeholder="Phone Number"
                  formControlName="phNo"
                  type="tel"
                  maxlength="15"
                  minlength="4"
                  (keypress)="($event.charCode >= 8 && $event.charCode < 58)"
                />
                <mat-error> Please Enter a valid Mobile Number </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-4 form-title"><b>Account Information </b></div>
        <div class="col-8">
          <div class="row">
            <div class="col">
              <mat-form-field appearance="legacy" style="width: 220px">
                <input
                  id="email1"
                  name="email1"
                  readonly
                  matInput
                  placeholder="Email"
                  formControlName="email1"
                  pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
                />
                <mat-error> Please Enter The Valid Email.</mat-error>
                <mat-hint>Non Editable field</mat-hint>
              </mat-form-field>
            </div>
            <!-- <div class="col">
              <mat-form-field appearance="legacy">
                <input matInput placeholder="Password" type="password" formControlName="password" />
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="legacy">
                <input matInput placeholder="Confirm Password" type="password" formControlName="confirmpassword" />
              </mat-form-field>
            </div> -->
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-4 form-title"><b>User Type Information </b></div>
        <div class="col-8">
          <div class="row">
            <div class="col">
              <!-- Client Dropdown -->
              <div class="row" *ngIf="superInfo && !rosInfo">
                <div class="col mb-4">
                  <mat-form-field appearance="legacy" style="width: 220px">
                    <!-- <mat-select
                      id="client"
                      name="client"
                      (selectionChange)="changeClient(clientDropdown.value)"
                      aria-required="emptype"
                      formControlName="client"
                      placeholder="Client"
                      #clientDropdown
                      required
                    >
                      <mat-option *ngFor="let p of clients" [value]="p.id">
                        {{ p.name }}
                      </mat-option>
                    </mat-select> -->
                    <input
                      id="client"
                      name="client"
                      readonly
                      matInput
                      placeholder="Client"
                      formControlName="client"
                    />
                    <mat-hint>Non Editable field</mat-hint>
                  </mat-form-field>
                </div>
              </div>

              <div
                class="row"
                *ngIf="
                  rosInfo && showClients
                "
              >
                <div class="col">
                  <mat-form-field appearance="legacy" style="width: 220px">
                    <mat-select
                      id="client"
                      name="client"
                      (selectionChange)="changeClient(clientDropdown.value)"
                      aria-required="emptype"
                      formControlName="client"
                      placeholder="Client"
                      #clientDropdown
                      required
                    >
                      <mat-option *ngFor="let p of clients" [value]="p.id">
                        {{ p.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              
              <mat-form-field
                appearance="legacy"
                *ngIf="rosInfo"
                style="width: 220px"
              >
                <mat-select
                  id="userTyp"
                  name="userTyp"
                  placeholder="User Type"
                  formControlName="userTyp"
                  aria-required="emptype"
                  (selectionChange)="setUserType($event.value)"
                >
                  <mat-option
                    *ngFor="let uType of rosuserTypeList"
                    [value]="uType.value"
                  >
                    {{ uType.viewValue }}
                  </mat-option>
                </mat-select>
                <mat-error> User Type Is Required.</mat-error>
              </mat-form-field>
              <mat-form-field
                appearance="legacy"
                style="width: 220px"
                *ngIf="
                  !rosInfo && this.userDetails?.role?.name != 'ROLE_CLIENTADMIN'
                "
              >
                <mat-select
                  id="userTyp"
                  name="userTyp"
                  placeholder="User Type"
                  formControlName="userTyp"
                  aria-required="emptype"
                >
                  <mat-option
                    *ngFor="let uType of userTypeList"
                    [value]="uType.value"
                  >
                    {{ uType.viewValue }}
                  </mat-option>
                </mat-select>
                <mat-error> User Type Is Required.</mat-error>
              </mat-form-field>
              <mat-form-field
                appearance="legacy"
                style="width: 220px"
                *ngIf="
                  !rosInfo && this.userDetails?.role?.name == 'ROLE_CLIENTADMIN'
                "
              >
                <input
                  id="userTyp"
                  name="userTyp"
                  readonly
                  matInput
                  placeholder="User Type"
                  formControlName="userTyp"
                />
                <mat-hint>Non Editable field</mat-hint>
              </mat-form-field>
              <mat-form-field
                class="ml-5"
                style="width: 3in"
                *ngIf="showClients "
              >
                <mat-label>Restaurants</mat-label>
                <mat-select
                  [formControl]="resturants"
                  id="Resturants"
                  name="Resturants"
                  multiple
                >
                  <mat-select-trigger>
                    {{ resturants.value ? resturants.value[0] : "" }}
                    <span
                      *ngIf="resturants.value?.length > 1"
                      class="example-additional-selection"
                    >
                      (+{{ resturants.value.length - 1 }}
                      {{ resturants.value?.length === 2 ? "other" : "others" }})
                    </span>
                  </mat-select-trigger>
                  <mat-option
                    *ngFor="let r of restaurantData"
                    (click)="addSelectResturant(r.id, r.name)"
                    [value]="r.name"
                  >
                    {{ r.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field
                class="ml-5"
                style="width: 3in"
                *ngIf="this.userDetails?.role?.name != 'ROLE_SUPERADMIN' && this.userDetails?.role?.name != 'ROLE_ACCOUNTOFFICER'"
              >
                <mat-label>Restaurants</mat-label>
                <mat-select
                  [formControl]="resturants"
                  id="Resturants"
                  name="Resturants"
                  multiple
                >
                  <mat-select-trigger>
                    {{ resturants.value ? resturants.value[0] : "" }}
                    <span
                      *ngIf="resturants.value?.length > 1"
                      class="example-additional-selection"
                    >
                      (+{{ resturants.value.length - 1 }}
                      {{ resturants.value?.length === 2 ? "other" : "others" }})
                    </span>
                  </mat-select-trigger>
                  <mat-option
                    *ngFor="let r of restaurantData"
                    (click)="addSelectResturant(r.id, r.name)"
                    [value]="r.name"
                  >
                    {{ r.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div *ngIf="isRestaurantAdded" class="error">
                Field Is Required
              </div>
            </div>
          </div>
          <div class="row">
            <div
              class="col"
              *ngFor="let r of selectedRestaurants; let i = index"
            >
              <div
                class="
                  d-flex
                  justify-content-between
                  align-items-center
                  text-nowrap
                  flex-wrap
                "
                id="delRestaurant"
                name="delRestaurant"
                style="width: 250px"
              >
                {{ r.name }}
                <i class="fa fa-trash p-3" (click)="delRestaurant(i, r)"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr />

      <div class="row">
        <div class="col-4 form-title"><b>Product & Subscription </b></div>
        <div class="col-4">
          <div class="row">
            <div class="col">
              <mat-form-field appearance="legacy" style="width: 220px">
                <mat-select
                  id="product"
                  name="product"
                  placeholder="Product"
                  formControlName="product"
                  aria-required="emptype"
                >
                  <mat-option
                    *ngFor="let p of productList"
                    [value]="p.productCode"
                  >
                    {{ p.productName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div
          class="col-4"
          *ngIf="
            this.userDetails?.role?.name != 'ROLE_ACCOUNTOFFICER' &&
            this.userDetails?.role?.name != 'ROLE_SUPERADMIN'
          "
        >
          <div class="row">
            <div class="col">
              <mat-form-field appearance="legacy">
                <mat-select
                  id="subscription"
                  name="subscription"
                  placeholder="Subscription"
                  formControlName="subscription"
                  aria-required="emptype"
                >
                  <mat-option
                    *ngFor="let s of subList"
                    [value]="s.subscription.name"
                  >
                    {{ s.subscription.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div
          class="col-4"
          *ngIf="
            this.userDetails?.role?.name == 'ROLE_ACCOUNTOFFICER' ||
            this.userDetails?.role?.name == 'ROLE_SUPERADMIN'
          "
        >
          <div class="row">
            <div class="col">
              <mat-form-field appearance="legacy">
                <mat-select
                  id="subscription"
                  name="subscription"
                  placeholder="Subscription"
                  formControlName="subscription"
                  aria-required="emptype"
                >
                  <mat-option *ngFor="let s of subLists" [value]="s.name">
                    {{ s.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #secondDialog>
  <h3 matDialogTitle>Error !</h3>
  <p matDialogContent>{{ dialogMessage }}</p>
  <mat-dialog-actions align="end" style="padding-left: 9rem">
    <button
      id="closeDialog"
      name="closeDialog"
      (click)="closeDialog()"
      mat-raised-button
      matDialogClose
    >
      Dismiss
    </button>
  </mat-dialog-actions>
</ng-template>

<ng-template #successDialog>
  <h2 matDialogTitle>Save Successful !!!!</h2>
  <p matDialogContent>{{ dialogMessage }}</p>
  <mat-dialog-actions align="end" style="padding-left: 9rem">
    <button
      (click)="navigateToDashBoard()"
      id="navigateToDashBoard"
      name="navigateToDashBoard"
      mat-raised-button
      matDialogClose
    >
      Navigate To View Users
    </button>
  </mat-dialog-actions>
</ng-template>

<ng-template #backDialog>
  <h3 class="logo" matDialogTitle>Do you want to Exit without Saving??</h3>
  <p matDialogContent></p>
  <mat-dialog-actions align="end" style="padding-left: 9rem">
    <button
      (click)="navigateToDashBoard()"
      id="navigateToDashBoard1"
      name="navigateToDashBoard1"
      mat-raised-button
      matDialogClose
    >
      Yes
    </button>
    &nbsp;
    <button
      (click)="closeDialog()"
      id="closeDialog1"
      name="closeDialog1"
      mat-raised-button
      matDialogClose
    >
      No
    </button>
  </mat-dialog-actions>
</ng-template>
